/* table of contents
1- left section  
2-right section  */



section.hero {
    margin-top: 3rem;
}


/*  left section  */
section.hero .left-section{
    flex-grow: 1;
}
.icon-verified{
    color :var(--blue);
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}
section.hero .avatar{
    width: 88px;
    border-radius: 50%;
    border :1px solid darkorange;
    padding: 1px;
    box-shadow: 2px 2px 40px rgba(255, 140, 0, 0.402) inset;
}
.parent-avatar.flex{
    align-items: end;
    gap: 0.6rem ;

}

h1.title{
    font-size: 2.85rem;
    line-height: 3.3rem;
    margin: 24px 0;
    color: var(--title);

}
p.subtitle{
color: var(--subtitle);
font-size: 0.9rem;
line-height: 1.65rem;
margin-bottom: 32px;
}
.allicons{
    font-size: 1.3rem;
    gap: 1.5rem;
    color: var(--subtitle);
   
}
.allicons .icon:hover{
font-size: 1.4rem;
transition: 0.3s;
cursor: pointer;
color: var(--icon-hover);

}



/*  right section  */
.animation{
    width: 100%;
    translate: 50px 30px;
}
@media (max-width: 1100px) {
    .animation{display: none;}
    
}